{% extends 'base.html' %}

{% block content %}
<h1>Chatbots</h1>


  <div class="container mt-4">
    <h2>Types of Chatbots</h2>
    <div class="mt-4 p-5 bg-success text-white rounded">
      <h1>Decision Tree Chatbot:</h1>
      <p>This type of chatbot walks users through a decision tree in order to answer their questions.
        The user's responses are used to narrow down the possible answers.</p>
    </div>
  </div>

  <div class="container mt-4">
    <div class="mt-4 p-5 bg-primary text-white rounded">
      <h1>Generative Chatbot:</h1>
      <p>This type of chatbot uses artificial intelligence (AI) to generate new responses.
        It will use the user's input to generate an appropriate response based on the information provided.</p>
    </div>
  </div>

  <div class="container mt-4">
    <div class="mt-4 p-5 bg-warning text-white rounded">
      <h1>Conversational AI Chatbot:</h1>
      <p>This type of chatbot is powered by AI and is designed to understand natural language and carry on conversations with users. It can answer questions, provide recommendations, and more.</p>
    </div>
  </div>



  {% endblock %}


